/* #viewport-mini{
    width: 100px;
    height: 200px;
    background-color: bisque;
}


body{
    height: 1000px;
  }

  h2{
    color: azure;
  } */


  /* styles.css */

/* Apply styles to the body element */
